/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  color: #333;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Beginning of styling
*/

:root {
  --secondary-color: #ddd;
}
header {
  width: 100vw;
  height: 20vh;
  background-color: #3d3d3d;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-header,
.right-header {
  margin-left: 2rem;
  margin-right: 2rem;
}
.left-header {
  display: flex;
  align-items: center;
}
.main-container {
  display: flex;
  height: 80vh;
}
nav {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  background-color: #fafafa;
  padding-left: 4%;
  padding-right: 4%;
  padding: 3rem;
}
div[class^='nav'] {
  height: 3rem;
  color: #333;
}
main {
  width: 80%;
  height: 100%;
}

.inner-main-container {
  display: flex;
  flex-direction: column;
  padding-left: 8rem;
  padding-top: 3rem;
}

.project-container {
  padding-left: 10%;
}
.selected-todos-container {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-top: 2rem;
}
.project-title {
  font-size: 2.8rem;
  color: #202020;
}
.todo-item {
  font-size: 1.2rem;
}

.project-modal,
.todo-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
  background-color: white;
  border-radius: 2%;
  z-index: 1010;
  display: flex;
}
.todo-modal {
  width: 30%;
  height: 57%;
}
.project-modal {
  width: 30%;
  height: 10%;
  padding: 5em;
}

.project-modal input {
  width: 24%;
  border-radius: 0.1em;
}

.modal-closed {
  display: none;
}
.project-modal-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  overflow: auto;
}

.project-modal-guts {
  display: flex;
  flex-direction: column;
  height: 83%;
  margin: 1em 1em 1em 1em;
  justify-content: space-between;
}
.modal-overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.todo-modal-content {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-form-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 90%;
}
.todo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1%;
  height: 100%;
}

.delete-project {
  display: none;
}
.visible {
  display: block;
}
.sidebar-project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
}
.left-sidebar-container {
  display: flex;
  align-items: center;
}

.circle-icon {
  font-size: 1rem;
  margin-right: 0.2rem;
}
.add-project {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.form-input,
textarea,
select {
  margin: 2%;
  width: 80%;
}

br {
  border-color: black;
  border-top: 4em;
}

div[class^='nav'],
.add-project,
.add-todo {
  cursor: pointer;
}

div[class^='nav'] {
  display: flex;
  align-items: center;
  gap: 0.4em;
}

div[class^='nav']:hover,
.sidebar-project:hover,
.add-project:hover,
.add-todo:hover {
  background-color: var(--secondary-color);
}

input[type='submit'] {
  background-color: #3d3d3d;
  color: white;
}

#todo-form-submit {
  border-radius: 0.3em;
  width: 50%;
  height: 2em;
  border-top: 1em;
}

.project-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.2em;
}

.submit-new-project {
  width: 3em;
  height: 2em;
}

#project-name {
  width: 90%;
  height: 4em;
  margin: 0.7em 0 0 0;
}

.new-todo-item {
  display: flex;
  justify-content: flex-start;
}
